<div class="launch_filter_group">
    <div class="title">Launch Year</div>
    <ul class="filter_items">
        <li *ngFor="let year of yearLoop;  let i = index">
            <a  href="javascript:void(0)" 
                [routerLink]="['/', year, launch_success, successLand]" routerLinkActive="active" 
                (click)="getYearFilter(year)"
                >{{year}}</a>
        </li>
    </ul>
</div>

<div class="launch_filter_group">
    <div class="title">Successful Launch</div>
    <ul class="filter_items">
        <li><a [routerLink]="['/', yearData, '1', successLand]" routerLinkActive="active" (click)="getLaunchFilter(1)">True</a></li>
        <li><a [routerLink]="['/', yearData, '0', successLand]" routerLinkActive="active" (click)="getLaunchFilter(0)">False</a></li>
    </ul>
</div>

<div class="launch_filter_group">
    <div class="title">Successful Landing</div>
    <ul class="filter_items">
        <li><a href="javascript:void(0)"  [routerLink]="['/', yearData, '1', '1']" routerLinkActive="active" (click)="getLandFilter(true)">True</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/', yearData, '1', '0']" routerLinkActive="active" (click)="getLandFilter(false)">False</a></li>
    </ul>
</div>