@import "../../assets/base/variables";
.filter_items { display: flex; justify-content: space-between; flex-wrap: wrap; margin: 0; padding: 0;

    li { flex: 0 0 33.354%; list-style: none; line-height: 1.24; padding: 10px 0; }
    a {
        background: $green;
        color: #000;
        padding: 5px 10px;
        line-height: 1.24;
        border-radius: 5px;
        text-decoration: none;

        &:link {
            background: $green;
        }
        
        &:hover, &.active {
            background: $dark-green;
        }
        
    }

}
.launch_filter_group {
    margin-bottom: 30px;
}
.title {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid darken($gray, 10%);
    font-size: 14px;
}