@import "../../assets/base/variables";


.wrapper {
    width: 1440px;
    margin: 0 auto;
}
.row {
    display: flex;
}

.menu_wrapper {
    flex: 0 0 15%;
    max-width: 180px;
    margin-right: 25px;
    background: #fff;
    padding: 15px;
}
.spacex_data_wrapper {
    flex: 1;
    margin-left: 20px;
}
.spacex_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .spacex-card {
        flex: 0 0 25%;
        max-width: 290px;
        margin-bottom: 20px;
        margin-right: 12px;

        &:nth-child(4n) { margin-right: 0; }
    }
}

.make_center {
    display: flex;
    height: 97vh;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
}
@media (max-width: 1440px) {
    .wrapper { width: 100%; }
}

@media (max-width: 1024px) {
    .menu_wrapper {
        flex: 0 0 20%;
    }
    .spacex_flex {
        .spacex-card {
            flex: 0 0 45%;
            max-width: 345px;

            &:nth-child(4n) { margin-right: 12px; }
            &:nth-child(2n) { margin-right: 0; }
        }
    }
}

@media (max-width: 800px) and (min-width: 768px) {
    .menu_wrapper {
        flex: 0 0 25%;

    }
}

@media (max-width: 700px) {
    
    .menu_wrapper {
        flex: 0 0 100%;
        max-width: 320px;
        margin: 0 0 20px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .spacex_data_wrapper {
        margin-left: 0;
    }
    .spacex_flex {     justify-content: center;
        .spacex-card {
            flex: 0 0 100%;
            max-width: 320px;
            &:nth-child(2n) { margin-right: 0; }
            margin-right: 0;
        }
    }
}

