@import "../../assets/base/variables";


.wrapper {
    width: 1440px;
    margin: 0 auto;;
}
.row {
    display: flex;
}

.menu_wrapper {
    flex: 0 0 15%;
    max-width: 180px;
    margin-right: 25px;
    background: #fff;
    padding: 15px;
}
.col-md-9 {
    flex: 1;
    margin-left: 20px;
}
.spacex_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .spacex-card {
        flex: 0 0 232px;
        max-width: 232px;
        margin-bottom: 20px;
        margin-right: 12px;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}
